pillow
mysqlclient
markdown
future
httplib2
six
requests
coreapi
xlwt  # 处理excel文件
xlsxwriter # 处理excel文件
drf-extensions
pycryptodome
raven
Django==2.0.2
django-cors-headers==2.2.0
django-crispy-forms==1.7.2
django-filter==1.1.0
django-formtools==2.1
django-guardian==1.4.9
django-import-export==1.0.0
django-reversion==2.0.13
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
djangorestframework-jwt-proxy==0.1
social-auth-app-django==2.1.0
django-redis==4.10.0